body{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
}

nav,
.nav-links{
  display: flex;
  align-items: center;
}

.logo{
  width: 100px;
}

header{
  padding: 60px;
  position: absolute;
  top: 0;
  left: 0;
}

nav{
  gap: 60px;
}

.nav-links{
  gap: 10px;
}

.nav-links a{
  color: var(--c1);
  font-size: 1rem;
  padding: 10px;
  position: relative;
}

.nav-links a::after{
  content: '';
  display: inline-block;
  width: 0%;
  height: 2px;
  background-color: var(--c1);
  position: absolute;
  top: 35px;
  left: 35%;
  transition: 0.4s;
}

.nav-links a:hover::after{
  width: 30%;
}

.menu-hamburger{
  width: 30px;
  height: 20px;
  background-image: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: none;
}

.main-img{
  height: 80vh;
  z-index: -1;
  position: relative;
}

.main-img img,
.furniture img{
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.main-img .buttons-div{
  display: none;
}

.discover{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative;
}

.section-content{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.section-content h1{
  color: var(--c4);
  font-size: 46px;
  max-width: 16ch;
  font-weight: 700;
}

.section-content p,
.furniture-content p{
  color: var(--c2);
  font-size: 1rem;
  max-width: 46ch;
  font-weight: 500;
  line-height: 1.3;
}

.section-content a{
  color: var(--c4);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 12px;
  transition: 0.4s;
}

.section-content a::after{
  content: '';
  background-image: url(../images/icon-arrow.svg);
  display: inline-block;
  height: 14px;
  width: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}

.section-content a:hover{
  color: var(--c2);
}

.buttons-div{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.buttons-div button{
  height: 70px;
  width: 72px;
  background-color: var(--c4);
  border: none;
  cursor: pointer;
  position: relative;
  transition: 0.4s;
}

.buttons-div button:hover{
  background-color: var(--c3);
}

.buttons-div button:nth-child(1)::after,
.buttons-div button:nth-child(2)::after{
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../images/icon-angle-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 15px);
}

.buttons-div button:nth-child(2)::after{
  background-image: url(../images/icon-angle-right.svg);
  left: calc(50% - 10px);
}

.furniture{
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  grid-column: 1/-1;
}

.furniture-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.furniture-content h1{
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

@media (max-width: 950px){
  body{
    grid-template-columns: 1fr;
  }

  header{
    width: 100%;
  }

  .logo{
    position: absolute;
    left: calc(50% - 50px);
  }

  .nav-links{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 0vh;
    background-color: var(--c1);
    padding-left: 80px;
    overflow: hidden;
    transition: 0.4s;
  }

  .nav-links.active{
    height: 22vh;
  }

  .nav-links a{
    color: var(--c4);
  }

  .nav-links a::after{
    background-color: var(--c4);
  }
  
  .menu-hamburger{
    display: block;
    z-index: 1;
  }

  .menu-hamburger.active{
    background-image: url(../images/icon-close.svg);
  }

  .main-img .buttons-div{
    display: flex;
  }

  .buttons-div{
    right: 0;
    left: unset;
  }

  .main-img{
    position: re;
  }

  section .buttons-div{
    display: none;
  }

  .furniture{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px){
  header{
    padding: calc(11vh - 9px) 20px;
  }
}

@media (max-width: 400px){
  .nav-links{
    padding-left: 68px;
  }

  .section-content h1{
    font-size: 34px;
  }
}